<!DOCTYPE html>
<html lang="en">
<head>
    <title>JoyTrade</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>
<body>
    <!--<div class="container">-->
       <div class="header">
        <a href="/"><img class="brandLogo" style="margin-top:10px; margin-left:40px" src="/images/Logo.jpg" alt="Logo"></a>
        <ul class="header-right">
        <li><a href="/trade/new">Start a New Trade</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/">Signup</a></li>
        </ul>
        <hr class="header-sep-line">
        <ul>
        <li><a href="/trades">Trades</a></li>
        </ul>
       </div> 
  <!--  </div>-->