<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <p>Welcome to JoyTrade.</p>
                <p>We're glad you've found the best place for all your gaming needs. You may easily upgrade to the newest games by trading in your old ones. Our platform provides a hassle-free and secure environment for game trade with a large range of games from well-known consoles. We have you covered, whether you're a collector or just shopping for the greatest prices. Join today to get trading!</p>
                <p>You can go through the trades section to check the available trades.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
