<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="center">
            <div class="game-heading">
              <h3 class="displayinside">Playstation 5
              </h3>
            </div>
            <div class="wrapper">
              <div class="game-image-div"><img class="ml game-image" src="assets/PS5.png" alt="logo"></div>
              <div class="detail">
                  <h4>Sold by Suyash J</h4>
                  <p>January 22, 2023</p>
                  <p>4:00pm-6:00pm</p>
                  <p>Student Union</p>
              </div>
            </div>
            <div class="description">
              <h3>Details</h3>
              <p>I am selling my PS5. The condition is excellent, with no visible signs of wear and tear. It comes with all original accessories, including the controller and cables. It is still under warranty and I am only selling it because I am upgrading to the latest model. Asking price is 500k. Please let me know if you have any questions.</p> 
            </div>
          </div>
    </div>
<%- include('./partials/footer.ejs') %>
