<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="center">
            <div class="desc">
                <div class="image">
                    <img src="/images/consoles.jpg" alt="games" class="homeImage">
                </div> 
                <p><h4><strong>Welcome to JoyTrade.</strong></h4></p>
                <p><h4><strong>"We're glad you've found the best place for all your gaming needs. You may easily upgrade to the newest games by trading in your old ones. Our platform provides a hassle-free and secure environment for game trade with a large range of games from well-known consoles. We have you covered, whether you're a collector or just shopping for the greatest prices. Join today to get trading!</strong></h4></p>
                
            </div>
        </div>    
    </div>
<%- include('./partials/footer.ejs') %>
